########## prepackaged ##########
node_modules/
dist/
npm-debug.log

########## Self Dev ##########
personaldev/

########## JIC ##########
.yarn
bower_components/
venv
yo~
npm-debug.log
prepros-6.config

########## Sass ##########
.sass-cache/
*.css.map

########## Mac ##########
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
